.itemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.item {
    width: 100%;
    height: 80px;
    border-radius: var(--common-border-radius-s);
    min-height: 80px;
    max-width: 536px;
    border: dashed 1px var(--text-inactive-color);
    display: flex;
    justify-content: center;
    align-items: center;

    &.top {
        border-top-left-radius: 106px;
        border-top-right-radius: 106px;
    }

    &.bottom {
        border-bottom-left-radius: 106px;
        border-bottom-right-radius: 106px;
    }
}