.resetPasswordFormWrapper {
    height: calc(100vh - 112px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media screen and (max-width : 1470px) {
        height: calc(100vh - 136px);
    }

    @media screen and (max-width : 1024px) {
        height: calc(100vh - 112px);
    }
    
    @media screen and (max-width : 800px) {
        height: calc(100vh - 96px);
    }
}

.link {
    color: var(--colors-interface-accent);
    text-decoration: none;
}