.burgerConstructor {
    padding: 116px 36px 0;
    max-width: 568px;
}

.orderWrapper {
    display: grid;
    grid-template-columns: calc(33% - 25px) calc(33% - 25px) calc(33% - 25px);
    gap: 40px;
    margin-top: 40px;
}

.sumWrapper {
    place-self: center center;
}

.buttonWrapper {
    place-self: center end;
}

.list {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 441px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}