.order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameAndStatus {
    width: 100%;
}

.done {
    color: var(--colors-interface-success);
}

.ingredientsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ingredients {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    gap: 16px;
}

.ingredientInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
    border: 2px solid #801AB2;
    border-radius: 100px;
    background-color: var(--background-alt);
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.timeAndPrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}