.grid {
    display: grid;
    grid-template-columns: calc(100% - 660px) 620px;
    gap: 40px;

    @media screen and (max-width : 1270px) {
        grid-template-columns: 100%;
    }
}

.burgerIngredientsWrapper {
    min-width: 600px;
    
    @media screen and (max-width : 624px) {
        min-width: unset;
    }
}

.burgerConstructorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}