.tabs {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.list {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 309px);
    
    @media screen and (max-width : 1024px) {
        height: calc(100vh - 285px);
    }
}