.order {
    background-color: var(--background);
    border-radius: 40px;
    padding: 24px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ingredients {
    display: flex;
}

.imagesWrapper {
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
    border: 2px solid #801AB2;
    border-radius: 100px;
    background-color: var(--background-alt);
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 64px;
    height: 64px;
    object-fit: cover;
}