.profilePageWrapper {
    margin-top: 116px;
    height: calc(100vh - 112px - 116px);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 60px;

    @media screen and (max-width : 1470px) {
        height: calc(100vh - 136px - 116px);
    }

    @media screen and (max-width : 1024px) {
        height: calc(100vh - 112px - 116px);
    }
    
    @media screen and (max-width : 800px) {
        height: calc(100vh - 96px - 116px);
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    max-width: 318px;
}

.link {
    color: unset;
    text-decoration: none;
    cursor: pointer;
}

.page {
    width: 60%;
}