.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imageWrapper {
    padding: 0 16px;
}

.textCenter {
    text-align: center;
}

.link {
    color: unset;
    text-decoration: none;
}