.bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderNumber {
    color: #F2F2F3;
    font-family: Iceland;
    font-size: 144px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    text-shadow: 0px 4px 32px #3333FF80;
    margin: 0;
}