.header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 56px 360px;
}

.nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileButton {
    display: flex;
    justify-content: end;
    align-items: center;
}

.button {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 8px;
    background: none;
    color: #F2F2F3;
    border-width: 0;
    cursor: pointer;
}